<h1>Salut <%= @admin.first_name %></h1>
    <p>
      <%= @user.first_name.capitalize %> participe à l'évènement <%= @event.title %>
    </p>
    <p>
      Voici son email <%= @user.email %>.
    </p>
    <p>
      Voici ton email <%= @admin.email %>.
    </p>
