<div class="container">
  <div class="d-flex">  
    <%if @user.avatar.attached?%>
      <%= image_tag @user.avatar, alt: 'avatar', class: "custom-profile-img mt-5 mb-2 mx-auto img-fluid" %>
    <%else%>
      <%= image_tag "who.png", alt: 'avatar', class: "custom-profile-img mt-5 mb-2 mx-auto" %>
    <%end%>
  </div>
  <div>
    <p>Your first name : <%= @user.first_name ? @user.first_name : "Not mentionned" %></p>
    <p>Your last name : <%= @user.last_name ? @user.last_name : "Not mentionned" %></p>
    <p>Your description : <%= @user.description ? @user.description : "Not mentionned" %></p>
    <p>Your email : <%= @user.email ? @user.email : "Not mentionned" %></p>
  </div>
  <div>
    <% if @events.length > 0 %> 
      <%= render 'users/card_template' %>
    <% else %> 
      <p class="text-center m-3">No events</p>
    <% end %>
    
  </div>
  <p class="text-center m-3"><%= link_to "Edit your email >", edit_user_registration_path(@user) %></p>
  <p class="text-center m-3"><%= link_to "Edit your profile >", edit_user_path(@user) %></p>

</div>
