<h2 class="h3 mb-3 font-weight-normal text-center">Last Events</h2>
<div class="row justify-content-center">
  <% @previous_events.each do |event| %>
    <div class="card border-light m-3 rounded custom-card" style="max-width: 20rem;">
      <img class="rounded-top" src="https://picsum.photos/id/<%= event.id %>/300/200"/>
      <div class="card-body">
        <h4 class="card-title"><%= event.title %></h4>
        <h5 class="text-muted"><%= event.start_date %></h5>
        <p class="card-text"><%= event.description%></p>
        <p class="text-center m-3"><%= link_to "See this event >", event_path(event.id) %></p>
      </div>
    </div>
  <% end %>
  <h3 class="h3 m-3 font-weight-normal text-center">Too See More, please 
    <%= link_to "log in", new_user_session_path %>
  </h3>
</div>