<div class="container">
  <div class="mt-3">
    <h1 class="text-center m-3">Title of this event : <%= @event.title %></h1>
    <%if @event.picture.attached?%>
      <%= image_tag @event.picture, alt: 'picture', class: "img-fluid img-event rounded mx-auto d-block m-3" %>
    <%else%>
      <%= image_tag "event.png", class: "img-fluid img-event rounded mx-auto d-block m-3"%>
    <%end%>
    <p>Description : <%= @event.description %></p>
    <p>Number of subscribers : Not mentionned</p>
    <p>Creator : <%= @event.admin.email %></p>
    <p>Start at : <%= @event.get_start + ' to ' + @event.end_event %></p>
    <p>Duration : <%= @event.duration %></p>
    <p>Where : <%= @event.location %></p>
    <p>Price : <%= @event.price %> €</p>
  </div>
  <% if @event.is_admin?(current_user) %>
      <%= link_to "Event info", event_attendances_path(@event.id) , class: "btn btn-primary"%>
    <% elsif @event.is_registred?(current_user) %>
      <%= link_to "Already subscribe", new_event_attendance_path(@event.id) , class: "btn btn-primary"%>
    <% else %>
      <%= link_to "Subscribe", new_event_attendance_path(@event.id) , class: "btn btn-primary"%>
    <% end %>
    <% if @events.length > 0 %> 
        <h2 class="h3 mb-3 font-weight-normal text-center"><%= @event.is_admin?(current_user) ? "All your events" : "Other events related to this admin" %></h2>
        <%= render 'events/cards' %>
      <% else %> 
        <p class="text-center m-3">No events</p>
      <% end %>
</div>